@font-face {
    font-family: 'Plus-Jakarta-Sans-Light';
    src: url(./PlusJakartaSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Plus-Jakarta-Sans-Regular';
    src: url(./PlusJakartaSans-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Plus-Jakarta-Sans-Bold';
    src: url(./PlusJakartaSans-Bold.ttf);
    font-weight: 800;
    font-style: normal;
}